<div class="container">
    <table class="table">
    <thead class="thead-dark">
        <th>House Type</th>
        <th>Rent</th>
        <th>Address</th>
        <th>rules</th>
        <th>delete houses</th>
    </thead>
    <tr *ngFor="let house of houses">
        <td>{{house.housetype}}</td>
        <td>{{house.hrent}}</td>
        <td>{{house.address}}</td>
        <td>{{house.aggrement}}</td>
        <td><button (click)="deleteDocument(house)" class="btn btn-warning">delete</button></td>
    </tr>
</table>
</div>
