<div class="row">
    <div class="col-sm-3">
        <div class="card text-center">
            <h2>owner dashboard</h2>
            <div class="form-control">
                <a routerLink="/ownerdashboard/profile">Profile</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/addhouse">add House</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/viewhouse">view house</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/viewclient">view client</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/payments">payments</a>
            </div>
            <div class="form-control">
                <a routerLink="/ownerdashboard/acceptedclients">accepted Clients</a>
            </div>
            <div class="">
            <button type="submit" class="btn text-primary" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
</div>