
<div class="container pt-4">
        <div style="background-image:url(https://cdn.pixabay.com/photo/2018/01/11/19/02/architecture-3076685_960_720.jpg )">
        <h2 class="text-light">The Rental Application – Things to Know
            What Is a Rental Application?
            One of the more important aspects of leasing a home is filling out the rental application.<br> When people apply for a lease,<br> they are asked a series of questions on the rental application that helps the landlord determine whether or not the potential tenants will be a good fit for the prospective property.</h2>
               
        </div>
        <div class="jumbotron">
        <h2 class="text-dark">The Apartment Is Fully Furnished And Has A Balcony Overlooking The Park.Looking For A Spacious Apartment In An Upscale Neighborhood</h2>
        <h2 class="text-dark">Housing sector remains
          vigilant to face the challenges of change by employing a new
          strategy that facilitates easy management of rental houses.<br> Hence
          there is need to develop a rental house management system that
          can simplify work for the rental managers so that all their work
          can be efficient and effective</h2>
    </div>
        </div>